.Button_one {
    font-size: 17px;
    height: 50px;
    width: 150px;
    font-weight: 500;
    border: 10px solid transparent;
    color: rgb(238, 244, 238);
    background-color: #25d23c ;
    box-shadow:  2px 3px 7px 0px midnightblue;
}