.ant-input {
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    border-radius: 1px;

}
.ant-form {
    text-align: left;
    box-sizing: border-box;
    margin-right: 80px;
    // color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
}
.ant-switch, .ant-switch-checked  {
    background-color: grey ;
}
.ant-form-items {
    text-align: center;
}

